columns.content-listing
  h2 LATEST
  each item in items
    div.item
      h3 #[a(href=`https://elifesciences.org/articles/${item.id}`) !{item.title}]
      p.author #{item.authorLine}
      p.description !{item.impactStatement}
